/*****************************8 importing zest UI ********************/
@import url("https://zestui.netlify.app/CSS/zest.css");

/********************** importing fonts, reset and color CSS files ************/

@import "./reset.css";
@import "./fonts.css";
@import "./colors.css";

/******************* General classes ****************/
.mt-5{
    margin-top : 5rem;
}

.mt-1{
    margin-top: 1rem;
}

.mb-1{
    margin-bottom: 1rem;
}

.mb-5{
    margin-bottom: 5rem;
}

.mb-3{
    margin-bottom: 3rem;
}

.mt-3{
    margin-top : 3rem;
}

.mb-2{
    margin-bottom: 2rem;
}

.mt-2{
    margin-top: 2rem;
}

.disp-block{
    display : block;
}

.txt-align-center{
    text-align : center;
}

.divider{
    border-bottom : 2px solid var(--border-color);
}

.highlight{
    background-color : var(--light-test-color);
    padding : 0.5rem;
    border-radius: 0.5rem;
}


.container{
    width : 90%;
    margin : auto;
    position : relative;
}

.wht-sp-no-wrap{
    white-space: nowrap;
}

/****************************** navigation bar  ***********************/

nav{
    display : flex;
    flex-direction: row;
    align-items : center;
    gap : 2rem;
    padding : 1rem; 
    z-index: 100;
    background-color : var(--background-color);
    justify-content : space-between;
    border-bottom: thin solid var(--nav-border-bottom);
}

.lib-name a{
    font-family: var(--shoedog-logo-font);
    font-size : 3.5rem;
}

.social-icon{
    display : flex;
    flex-direction: row;
    justify-content: baseline;
    align-items : center;
    gap : 2rem;
}

.social-icon .nav-icon{
    cursor : pointer;
    display : flex;
    align-items : center;
} 

.nav-search-bar{
    width : 40rem;
    padding : 0.8rem 0.8rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--searchbar-bg-color);
    outline : none;
    border : 0;
}

.m-left-auto{
    margin-left : auto;
}

/* icons with badges in navbar  */

.av-sm{
    width : 3.5rem;
    height : 3.5rem;
}

.right{
    right : -0.8rem;
}

.number-badge{
    height : 2rem;
    width : 2rem;
    font-size : 1.3rem;
}

.bottom{
    bottom : 2rem;
}

.categories-container{
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap : 2rem;
}

.category{
    position: relative;
    width : 25rem;
    height : 15rem;
}

.overlay{
    position: absolute;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    border-radius: 0.5rem;
    display : flex;
    align-items: center;
    justify-content : center;
}

.collection-overlay{
    color : var(--temp-bg-color);
    background-color: var(--category-overlay);
}

.overlay a{
    cursor: pointer;
}

.collection-container{
    display : flex;
    flex-direction: row;
    gap : 2.5rem;
    justify-content: center;
    flex-wrap: wrap;
}

.collection{
    display : flex;
    flex-direction: row;
    gap : 1rem;
    padding : 2rem;
    background-color : var(--light-test-color);
    border-radius: 0.8rem;
}

.collection-img{
    width : 15rem;
    height : 20rem;
}

.collection-desc-container{
    width : 15rem;
    padding : 1.5rem;
    background-color : var(--background-color);
    border-radius: 0.8rem;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: #111;
    width: 5rem;
    height: 2.6rem;
    border-radius: 5rem;
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.fa-moon {color: var(--moon-color);}
  
.fa-sun {color: var(--sun-color);}
  
.checkbox-label .ball {
    background-color: #fff;
    width: 2.2rem;
    height: 2.2rem;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
.checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
  }

.toggle-icon{
      font-size : 1.8rem;
  }

  .btn-primary-solid{
      color : var(--temp-bg-color);
  }

@media only screen and (max-width: 800px){
    .nav-search-bar{
        display : none;
    }
}