.card{
    width : 40rem;
}

/*********************** my cart card  ************************/
.product-card-container{
    display : flex;
    flex-direction : row;
    padding : 1rem;
    gap : 2rem;
    background-color: var(--light-test-color);
    border-radius: 0.8rem;
}

.cart-card-img{
    width : 15rem;
    height : 20rem;
}

.cart-card-desc{
    padding : 0.8rem;
    background-color: var(--background-color);
    border-radius: 0.8rem;
}

.product-prices-container{
    display : flex;
    gap : 0.8rem;
    align-items: center;
}

.product-original-price{
    font-size: 1.6rem;
}

.quantity-container{
    display : flex;
    flex-direction : row;
    align-items : center;
    gap : 1rem;
}

.purchase-count-container{
    border : 2px solid var(--test-color);
    display : flex;
    flex-direction: row;
    align-items : center;
    gap : 1rem;
    border-radius: 3px;
}

.incr-decr-btn{
    padding : 1rem;
    font-size : 2rem;
    color : var(--border-color);
    border: 0;
    outline: none;
    cursor : pointer;
    background-color: inherit;
    transition: background-color 0.2s;
}

.incr-decr-btn:hover{
    background-color : var(--light-test-color);
}

.btn-cart-outline{
    color : var(--dark-gray);
    border : 3px solid var(--warning-alert-color);
    width : 100%;
    margin:0;
}

.btn-cart-outline:hover{
    background-color : var(--warning-alert-color);
}

.btn-cart-solid{
    width : 100%;
    background-color : var(--warning-alert-color);
    margin:0;
}

.btn-cart-solid:hover{
    background-color : var(--rating-icon-color);
}


.btn-primary-solid{
    width : 100%;
    margin:0;
}

.my-cart-btn-container{
    display : flex;
    flex-direction: column;
    gap : 1rem;
}