.my-cart-container{
    /* border : 3px solid red; */
    display : flex;
    flex-direction: row;
    width : 80%;
    margin : auto;
    gap : 3rem;
    justify-content : center;
}

.cart-product-container{
    /* border : 3px solid green;    */
    display : flex;
    flex-direction: column;
    gap : 2rem;
}

.price-details-section{
    padding : 1rem;
    width : 35rem;
    height : 100%;
    /* border : 3px solid red; */
}

.detail-flex-container{
    display : flex;
    justify-content: space-between;
}