.my-cart-container{
    display : flex;
    flex-direction: row;
    margin : auto;
    gap : 3rem;
    justify-content : center;
}

.cart-product-container{
    display : flex;
    flex-direction: column;
    gap : 2rem;
}

.price-details-section{
    padding : 1rem;
    width : 35rem;
    height : 100%;
}

.detail-flex-container{
    display : flex;
    justify-content: space-between;
}

.btn-primary-solid{
    width : 100%;
}

@media only screen and (max-width : 900px){
    .my-cart-container{
        flex-direction : column;
        align-items : center;
    }
}

@media only screen and (max-width : 700px){
    .container{
        width : 100%;
    }
}

@media only screen and (max-width : 400px){
    .product-card-container{
        flex-direction: column;
        width : 100% !important;
        align-items : center;
    }
    .price-details-section{
        width : 100%;
    }
}