.wishlist-container{
    display : flex;
    gap : 2rem;
    flex-wrap : wrap;
}

.wishlist svg{
    color : var(--status-dnd);
}

.card-img{
    height : 22rem;
}

@media only screen and (max-width : 600px){

    .card{
        width : 18rem;
    }
    .card-img{
        height : 18rem;
    }
}

@media only screen and (max-width : 400px){

    .card{
        width : 16rem;
    }
    .card-img{
        height : 16rem;
    }
}

@media only screen and (max-width : 346px){

    .card{
        width : 100%;
    }
    .card-img{
        height : 16rem;
    }
}